<ol>
{{#each rsvps as |rsvp|}}

  <section class= 'listings'>
    <li>
      <p><b>EVENT</b> - {{rsvp.listing.listing_name}}, <b>DATE</b> - {{rsvp.listing.date}} </p>
    </li>
  </section>

{{/each}}
</ol>
