<h3 class="event-title">Select an event to find out more!</h3>
<hr>

<ol>
{{#each listings as |listing|}}

  <li>
    <h6>
      <a href="" class='show-event' data-id='{{id}}'>
        {{listing_name}} - {{location}}
      </a>
    </h6>
  </li>

{{/each}}
</ol>
